<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Times - TimeToCube</title>
		<link rel="stylesheet" href="/public/styles/times.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
			integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script>
			function closePrev() {
				document.querySelector('.prev-time').classList.remove('shown');
			}
		</script>
	</head>
	<body>
		<div class="prev-time"></div>
		<div id="sidebar">
			<h3>TimeToCube</h3>

			<div class="nav-links">
				<a href="/views/timer/timer.html" class="nav-link"
					><i class="fa-solid fa-stopwatch"></i> Timer</a
				>
				<a href="/views/timer/times.html" class="nav-link actual-page"
					><i class="fa-solid fa-list"></i>Times</a
				>
				<a id="signout" class="nav-link"
					><i class="fa-solid fa-power-off"></i> Sign-out</a
				>
				<a href="/views/timer/Account.html" class="nav-link"
					><i class="fa-solid fa-user"></i> Account</a
				>
			</div>
		</div>
		<div class="content"></div>
		<script type="module" src="/public/scripts/times/main.js"></script>
	</body>
</html>
